* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: start;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 12px;
}

.menu__list {
    list-style-type: none;
}

.menu__list-item {
    display: inline-block;
}

.button {
    padding: 6px 12px;
}

.button_white {
    background-color: #fff;
    border: 1px solid black
}

.sidebar {
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid black;
    padding: 12px;
}

.sidebar__list {
    list-style-type: none;
}

.sidebar__list-item {
    margin-top: 12px;
}

.sidebar-open {
    left: 0;
}

@media screen and (max-width: 500px) {
    .menu__list {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .menu {
        text-align: end;
    }

    .button_open_sidebar {
        display: none;
    }
}